@font-face {
    font-family: 'Garamond';
    src: url('../fonts/EBGaramond-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Garamond';
    src: url('../fonts/EBGaramond-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}